body{
  background-color:#ffe5eb
}

h1{
  background-color: #000000;
  color:white;
}
table, th, td {
    border: 5px solid black;
    width: 100p;
    height: 100px ;
    border-spacing: 0;

}


tr:nth-last-of-type(even){
  background-color: #eaa9bf;
}



#header{
  padding: 1em;
   color: #ffe5eb;
   clear: both;
   text-align: center;
   background-color: #000000;
   font-family: 'Roboto', sans-serif;

}
img{
  height: 300px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px
}
