body{
  background-color: #FFFFFF;
}

#header{
  padding: 1em;
   clear: both;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   width: 100%;
   text-decoration:underline;
   color: #c9bf84
 }

 ul li{
   background-color: #FFFFFF;
     color: #c9bf84;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }
 ul li:hover{
   background-color:#2f937a
 }

h1,h2{
  background-color:;
  color:#2f937a;
}

table, th, td {
    border: 1px outset #c9bf84;
    width: 100p;
    height: 100px ;
    border-spacing: 0;
    color: 807F7F;
}

img{
  width: 310px;
  height: 240px;
  display:inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px
}

p{
    color: #2f937a;
}

#section1{
  border: 10px outset #c9bf84;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: -35px;

}
#section2{
  border: 10px outset #c9bf84;
  font-family: 'Noto Sans', sans-serif;
}

#footer{
  text-align: center;
}
