h1,h2,h3{
  color:#2f937a;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
  border: 5px outset #c9bf84;
}
#bgdcolor{
  background-color: #FFFFFF;
}
#color1{
  color: #c9bf84;
}
color{
  color:#2f937a;
}
#ffamily{
  font-family: 'Roboto', sans-serif;
}
P{
  font-family: 'Noto Sans', sans-serif;
  color: #2f937a;
}
img{
  width: 310px;
  height: 225px;
  display: inline-flex;
}
#cp{
  width: 800px;
}
